mixin panel(theme, imageUrl, mod)
  - var panelClass = blocks.panel.lbl
  - var contentClass = blocks.panel.lbl + '__' + blocks.panel.els.content
  - var modClass = ''
  if mod
    - modClass = blocks.panel.lbl + '--' + mods[mod]
  div(class="#{panelClass} #{modClass}")
    if imageUrl
      img(src=imageUrl, class="#{contentClass}")
    else
      div(class="#{contentClass} #{theme}")
        if block
          block
        else
          p Empty panel
