html(lang="en-us")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= name
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content= description)
  link(rel="stylesheet", href="css/#{name}.min.css")
  link(rel="stylesheet", href="css/theme.min.css")
body
  .masonry-layout
    - var n = 0
    - var nestedSizes = ['small', 'medium', 'large']
    - var colors = ['red', 'green', 'blue', 'purple']
    while n < 10
      - var type = Math.floor(Math.random() * 4 + 1)
      - var nested = Math.floor(Math.random() * 3 + 1)
      - var nestedClass = 'masonry-layout__panel'
      - var horizontalClass = ''
      - var sizeClass = ''
      if nested === 1
        - nestedClass = 'is--cluster'
        - horizontalClass = 'is--vertical'
        - var isHorizontal = Math.floor(Math.random() * 2 + 1)
        - var nestingSize  = Math.floor(Math.random() * 3 + 1)
        - sizeClass = nestedSizes[nestingSize - 1]
        if isHorizontal === 1
          - horizontalClass = 'is--horizontal'
      .masonry-layout__panel(class="#{sizeClass} #{nestedClass} #{horizontalClass}")
        if nested === 1
          .masonry-layout__panel.full-size
            .masonry-layout__panel-content.bg--green
          .masonry-layout__panel.quarter-size
            .masonry-layout__panel-content.bg--blue
          .masonry-layout__panel
            .masonry-layout__panel-content.bg--red
        else
          - var paras = Math.floor(Math.random() * 4 + 1)
          .masonry-layout__panel-content(class="bg--#{colors[paras - 1]}")
            - var p = 0
            while p < paras
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non varius nunc, nec viverra dolor. Sed porttitor urna non accumsan vehicula. Morbi malesuada mollis lacus.
              - p++
        - n++
