html(lang="en-us")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title= name
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content= description)
  link(rel="stylesheet", href="css/#{name}.min.css")
  link(rel="stylesheet", href="css/theme.min.css")
body
  .ml
    - var n = 0
    - var nestedSizes = ['sm', 'md', 'lg']
    - var colors = ['red', 'green', 'blue', 'purple']
    while n < 10
      - var type = Math.floor(Math.random() * 4 + 1)
      - var nested = Math.floor(Math.random() * 3 + 1)
      - var nestedClass = 'ml-pnl'
      - var horizontalClass = ''
      - var sizeClass = ''
      if nested === 1
        - nestedClass = 'ml-clstr'
        - horizontalClass = 'vrt'
        - var isHorizontal = Math.floor(Math.random() * 2 + 1)
        if isHorizontal === 1
          - horizontalClass = 'hrz'
      .ml-pnl(class="#{nestedClass} #{nestedClass}--#{horizontalClass}")
        if nested === 1
          if isHorizontal === 1
            .ml-clstr__sgmnt.ml-clstr__sgmnt--rw
              .ml-pnl.ml-clstr__sgmnt
                .ml-pnl__cntnt.bg--green.tx--white
                  h1 I
            .ml-clstr__sgmnt.ml-clstr__sgmnt--rw
              .ml-pnl.ml-clstr__sgmnt.ml-clstr__sgmnt--hlf
                .ml-pnl__cntnt.bg--blue.tx--white
                  h1 am
              .ml-pnl.ml-clstr__sgmnt
                .ml-pnl__cntnt.bg--red.tx--white
                  h1 horizontal
          else
            .ml-clstr__sgmnt.ml-clstr__sgmnt--clmn
              .ml-pnl.ml-clstr__sgmnt
                .ml-pnl__cntnt.bg--green.tx--white
                  h1 I
            .ml-clstr__sgmnt.ml-clstr__sgmnt--clmn
              .ml-pnl.ml-clstr__sgmnt
                .ml-pnl__cntnt.bg--blue.tx--white
                  h1 am
              .ml-pnl.ml-clstr__sgmnt
                .ml-pnl__cntnt.bg--red.tx--white
                  h1 vertical
        else
          - var paras = Math.floor(Math.random() * 4 + 1)
          .ml-pnl__cntnt(class="bg--#{colors[paras - 1]}")
            - var p = 0
            while p < paras
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non varius nunc, nec viverra dolor. Sed porttitor urna non accumsan vehicula. Morbi malesuada mollis lacus.
              - p++
        - n++
